<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @weight_daily_entry, partial: "card", as: :weight_daily_entry %>
  </div>
</div>

  <!-- Show Page Customization starts -->

  <!-- Show Page Customization end -->
