<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @workout, partial: "card", as: :workout %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "workouts/workout_exercises" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "workouts/workout_workout_comments" %>
  </div>
</div>
