<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Workouts

    <a data-toggle="collapse" href="#weight_tracker_profile_workouts_new_form">
      Add workout
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @weight_tracker_profile.workouts.each do |workout| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to workout, workout %>
        <!-- Show link end -->

        <!-- Delete link start -->
        <%= link_to workout, method: :delete, data: { confirm: "Do you really want to delete this workout" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="weight_tracker_profile_workouts_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
