<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Exercises
  </div>

  <ul class="list-group list-group-flush">
    <% @weight_tracker_profile.exercises.each do |exercise| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/exercises/<%= exercise.id %>">
          <%= exercise %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
