<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @personal_trainer_profile, partial: "card", as: :personal_trainer_profile %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "personal_trainer_profiles/personal_trainer_profile_weight_tracker_profiles" %>
  </div>
</div>
