<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Personal Trainer Profiles

    <a data-toggle="collapse" href="#user_login_personal_trainer_profiles_new_form">
      Add personal trainer profile
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user_login.personal_trainer_profiles.each do |personal_trainer_profile| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to personal_trainer_profile, personal_trainer_profile %>
        <!-- Show link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="user_login_personal_trainer_profiles_new_form">
        <!-- New associationcollection form start -->
        <%= render partial: "user_logins/user_login_personal_trainer_profiles_new_form" %>
        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
