<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Meal Comments

    <a data-toggle="collapse" href="#user_login_meal_comments_new_form">
      Add meal comment
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user_login.meal_comments.each do |meal_comment| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <%= link_to meal_comment, meal_comment %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="user_login_meal_comments_new_form">
        <%= render partial: "user_logins/user_login_meal_comments_new_form" %>
      </div>
    </div>

  </ul>
</div>
