<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Weight Tracker

    <a data-toggle="collapse" href="#nutritionist_profile_weight_tracker_new_form">
      Add weight tracker profile
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @nutritionist_profile.weight_tracker.each do |weight_tracker_profile| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to weight_tracker_profile, weight_tracker_profile %>
        <!-- Show link end -->

        <!-- Delete link start -->
        <%= link_to weight_tracker_profile, method: :delete, data: { confirm: "Do you really want to delete this weight_tracker_profile" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="nutritionist_profile_weight_tracker_new_form">
        <!-- New associationcollection form start -->
        <%= render partial: "nutritionist_profiles/nutritionist_profile_weight_tracker_new_form" %>
        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
