<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @nutritionist_profile, partial: "card", as: :nutritionist_profile %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "nutritionist_profiles/nutritionist_profile_weight_tracker" %>
  </div>
</div>
