<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @nutritionist_profile, partial: "card", as: :nutritionist_profile %>
  </div>
</div>

  <!-- Show Page Customization starts -->

  <!-- Show Page Customization end -->
