<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Foods

    <a data-toggle="collapse" href="#meal_foods_new_form">
      Add food
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @meal.foods.each do |food| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to food, food %>
        <!-- Show link end -->

        <!-- Delete link start -->
        <%= link_to food, method: :delete, data: { confirm: "Do you really want to delete this food" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="meal_foods_new_form">
        <!-- New associationcollection form start -->
        <%= render partial: "meals/meal_foods_new_form" %>
        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
