<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @meal, partial: "card", as: :meal %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "meals/meal_foods" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "meals/meal_meal_comments" %>
  </div>
</div>
