<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    User
  </div>

  <ul class="list-group list-group-flush">
    <% @food.user.each do |weight_tracker_profile| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/weight_tracker_profiles/<%= weight_tracker_profile.id %>">
          <%= weight_tracker_profile %>
        </a>
        <!-- Show link end -->

      </li>
    <% end %>

  </ul>
</div>
