<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @exercise, partial: "card", as: :exercise %>
  </div>
</div>

  <!-- Show Page Customization starts -->
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "exercises/exercise_user" %>
  </div>
</div>
  <!-- Show Page Customization end -->
